<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Tính toán BMI, Z-score</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label>Ngày đo *</ion-label>
      <ion-datetime [(ngModel)]="calculationData.measurementDate" placeholder="09/04/2025" display-format="DD/MM/YYYY"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Ngày sinh của bạn *</ion-label>
      <ion-datetime [(ngModel)]="calculationData.birthDate" placeholder="11/09/2004" display-format="DD/MM/YYYY"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Cân nặng *</ion-label>
      <ion-input [(ngModel)]="calculationData.weight" type="number" placeholder="Kg"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Chiều cao *</ion-label>
      <ion-input [(ngModel)]="calculationData.height" type="number" placeholder="Cm"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="block" color="success" (click)="calculateBMI()">Tính toán</ion-button>

  <ion-button expand="block" color="warning" fill="outline" (click) = "resetForm()">Làm mới</ion-button>

  <!-- Kết quả tính toán -->
  <ion-card *ngIf="calculationData.bmiResult">
    <ion-card-header>
      <ion-card-title>Kết quả</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>BMI</ion-label>
        <ion-text slot="end">{{ calculationData.bmiResult.toFixed(1) }}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Z-score</ion-label>
        <ion-text slot="end">{{ calculationData.zScore?.toFixed(2) }}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Thể loại</ion-label>
        <ion-text slot="end">{{ calculationData.category }}</ion-text>
      </ion-item>
    </ion-card-content>
  </ion-card>
  
</ion-content>