<ion-header>
  <ion-toolbar>
    <ion-title>Đăng nhập</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Tên đăng nhập của bạn</ion-label>
      <ion-input placeholder="Tên đăng nhập của bạn"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Mật khẩu</ion-label>
      <ion-input type="password" placeholder="Nhập mật khẩu của bạn"></ion-input>
    </ion-item>
  </ion-list>

  <ion-checkbox slot="start" labelPlacement="end">Lưu thông tin</ion-checkbox>
  <a href="/quen-mat-khau" class="forgot-password">Quên mật khẩu?</a>

  <ion-button expand="block" color="success">Đăng nhập</ion-button>
  <p class="register-link">Bạn chưa có tài khoản? <a href="/dang-ky">Đăng ký ngay</a></p>
</ion-content>